<!DOCTYPE html>
<html>

<head>
  <title>Prestamos</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous" />
  <link rel="stylesheet" href="../../css/formstyle.css">
  </link>
</head>

<body> 
  <h1 class="font-weight-bold mb-4">Modulo Prestamos</h1>
    <form class="row g-2">
      <div class="mb-3 col-auto">
        <label for="id_transaccion" class="form-label">Codigo de Prestamo</label>
        <input type="text" class="form-control" id="id_transaccion" placeholder="numero de transaccion">
      </div>
      <div class="mb-3 col-auto">
        <label for="v_prestamo" class="form-label">Valor prestamo</label>
        <input type="number" class="form-control mb-2" id="v_prestamo">
      </div>
      <div class="mb-3 col-auto">
        <label for="t_prestamo" class="form-label">Tiempo prestamo</label>
        <input type="number" class="form-control mb-2" id="t_prestamo">
      </div>
      <div class="mb-3 col-auto">
        <label for="i_anual" class="form-label">Interes anual</label>
        <input type="number" class="form-control mb-2" id="i_anual">
      </div>
      <div class="mb-3 col-auto">
        <label for="i_mensual" class="form-label">Interes mensual</label>
        <input type="number" class="form-control mb-2" id="i_mensual">
        
      </div>
      <div class="calcular">
        <button type="button" class="btn btn-primary">Calcular</button>
      </div>
    </form>
    <br>
</body>

<div class="row">
  <div class="col-md-12 mb-3">

      <div class="card-header">
        <span><i class="bi bi-table me-2"></i></span> Valor cuotas prestamo
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table id="example" class="table table-striped data-table" style="width: 100%">
            <thead>
              <tr>
                <th>Numero prestamo</th>
                <th>Valor cuota</th>
                <th>Valor Intereses</th>
                <th>Amortizacion</th>
                <th>Saldo pendiente</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>C001</td>
                <td>2000000</td>
                <td>833.33</td>
                <td>124000</td>
                <td>1500000</td>
              </tr>
              <tr>
                <td>C001</td>
                <td>2000000</td>
                <td>833.33</td>
                <td>124000</td>
                <td>1500000</td>
              </tr>
            </tbody>
            <td>C001</td>
            <td>2000000</td>
            <td>833.33</td>
            <td>124000</td>
            <td>1500000</td>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<form class="row g-2">
  <div class="col-auto">
    <button type="button" class="btn btn-primary">Nuevo</button>
  </div>
  <div class="col-auto">
    <button type="button" class="btn btn-primary">Guardar</button>
  </div>
  <div class="col-auto">
    <button type="button" class="btn btn-primary">Modificar</button>
  </div>
  <div class="col-auto">
    <button type="button" class="btn btn-primary">Buscar</button>
  </div>
  <div class="col-auto">
    <button type="button" class="btn btn-primary">Eliminar</button>
  </div>
  <div class="col-auto">
    <button type="button" class="btn btn-primary">Limpiar</button>
  </div>
</form>
<br>
<div class="row">
  <div class="col-md-12 mb-3">
      <div class="card-header">
        <span><i class="bi bi-table me-2"></i></span> Listado prestamos
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table id="example" class="table table-striped data-table" style="width: 100%">
            <thead>
              <tr>
                <th>Codigo prestamo</th>
                <th>Numero identificacion</th>
                <th>Primer nombre</th>
                <th>Segundo nombre</th>
                <th>Primer apellido</th>
                <th>Segundo apellido</th>   
                <th>Valor prestamo</th>
                <th>Interes prestamo </th>
                <th>Fecha prestamo </th>             

              </tr>
            </thead>
            <tbody>
              <tr>
                <td>C001</td>
                <td>92847284738</td>
                <td>Juan</td>
                <td></td>
                <td>Lopez</td>
                <td>Robles</td>
                <td>12000</td>
                <td>33</td>
                <td>01/07/2021</td>
              </tr>
              
          </table>
        </div>
      </div>
    </div>
  </div>
</div>



</html>